# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log
train_log*.txt

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pt
*.pth

# Data
data/
dataset/
yolo_data/
SceneTrialTrain/
cropped/
